<header>
    <pre class="ascii-header">
 ██▀███   ██▓ ▄▄▄▄   ▓█████  ██▓ ██▀███       ██▓ ███▄    █ 
▓██ ▒ ██▒▓██▒▓█████▄ ▓█   ▀ ▓██▒▓██ ▒ ██▒    ▓██▒ ██ ▀█   █ 
▓██ ░▄█ ▒▒██▒▒██▒ ▄██▒███   ▒██▒▓██ ░▄█ ▒    ▒██▒▓██  ▀█ ██▒
▒██▀▀█▄  ░██░▒██░█▀  ▒▓█  ▄ ░██░▒██▀▀█▄      ░██░▓██▒  ▐▌██▒
░██▓ ▒██▒░██░░▓█  ▀█▓░▒████▒░██░░██▓ ▒██▒    ░██░▒██░   ▓██░
░ ▒▓ ░▒▓░░▓  ░▒▓███▀▒░░ ▒░ ░░▓  ░ ▒▓ ░▒▓░    ░▓  ░ ▒░   ▒ ▒ 
  ░▒ ░ ▒░ ▒ ░▒░▒   ░  ░ ░  ░ ▒ ░  ░▒ ░ ▒░     ▒ ░░ ░░   ░ ▒░
  ░░   ░  ▒ ░ ░    ░    ░    ▒ ░  ░░   ░      ▒ ░   ░   ░ ░ 
   ░      ░   ░         ░  ░ ░     ░          ░           ░ 
                   ░                                        
    </pre>
    <nav>
        <ul>
            <li><a href="{{BASE_PATH}}index.html">[ Home ]</a></li>
            <li><a href="{{BASE_PATH}}posts.html">[ Posts ]</a></li>
            <li><a href="{{BASE_PATH}}writeups.html">[ Writeups ]</a></li>
            <li><a href="{{BASE_PATH}}about.html">[ About ]</a></li>
        </ul>
    </nav>
</header>
